h1, h2, h3, h4 {
  font-family: var(--raleway-font);
  font-weight: 700;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 24px;
}


/*Parragraph*/
.subtitle {
  font-size: 32px;
  font-family: var(--just-me-again-down-here-font);
  font-weight: 400;
}
.p-24 {
  font-size: 24px;
  font-family: var(--raleway-font);
  font-weight: 400;
}
.p-20 {
  font-size: 20px; 
  font-family: var(--raleway-font);
  font-weight: 400;
}
.p-16 {
  font-size: 16px;
  font-family: var(--raleway-font);
  font-weight: 400;
}
.p-14 {
  font-size: 14px;
  font-family: var(--raleway-font);
  font-weight: 400;

}
.p-12 {
  font-size: 12px;
  font-family: var(--raleway-font);
  font-weight: 400;

}

/*Responsive*/
@media (max-width: 1000px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 16px;
  }
}
/*Colors*/

.white {
  color: var(--white);
}
.blue   {
  color: var(--blue);
}
.green {
  color: var(--green);
}
.pink {
  color: var(--pink);
}
.black {
  color: var(--black);
}

/*Font-Weight*/
.bold {
  font-weight: 700;
}
.semi-bold {
  font-weight: 600;
}
.medium {
  font-weight: 500;
}
.regular{
  font-weight: 400;
}
.light {
  font-weight: 300;
}

/*Font-Style*/
.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}