.btn {
  font-family: var(--raleway-font);
  font-size: 16px;
  font-weight: 400;
  border-radius: 32px;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  width: fit-content;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
.btn-primary {
  background: var(--gradient-blue-pink);
  color: var(--white);
}
.btn-secondary {
    background: var(--gradient-green-blue);
    color: var(--white);
}
.btn-tertiary {
    background-color: var(--blue);
    color: var(--white);
}
.btn-primary:hover, .btn-secondary:hover, .btn-tertiary:hover {
    background: none;
    color: var(--blue);
    border: 1px solid var(--blue);
}

/*whatsapp button*/
.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
  @media (max-width: 768px) {
    bottom: 20px;
    right: 20px;
  }
}
.whatsapp-icon {
  transition: 0.3s;
  width: 53px;
}
.whatsapp-icon:hover {
  transform: scale(1.1);
}
.fixed-button.show-button {
  opacity: 1;
}