footer {
    background-color: var(--black);
    color: var(--white);
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
footer a {
    transition: color 0.3s ease;
}
footer a:hover {
    color: var(--pink);
}
.rrss img {
    width: 25px;
}
.rrss img:hover {
    opacity: 0.8;
}
