/* Hero */
#hero {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 90vh;
    padding: 0px 300px 100px;
    position: relative;
    
}
@media (max-width: 768px) {
    #hero {
        padding: 0px;
        text-align: left;
    }
   
}

/*#hero .hero-title {
    font-size: 72px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 1rem;
}*/

/* Animación para el párrafo descriptivo 
#hero .hero-description {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}*/

#hero .hero-description.show {
    opacity: 1;
    transform: translateY(0);
}
.hand-writting {
    position: absolute;
    top: 5vh;
    right: 0;
    width: 400px;
    @media (max-width: 768px) {
        width: 150px;
        top: 1vh;
    }
}
/* Animación para el contenedor de botones 
#hero .button-cont {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

#hero .button-cont.show {
    opacity: 1;
    transform: translateY(0);
}*/
.curve {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.button-cont {
    justify-content: center;
    @media (max-width: 768px) {
        justify-content: start;
    }
}

/* Values */
#values {
    text-align: center;
    padding: 50px 0px;
}

#values h2 {
    margin-bottom: 0px;
}
#values .container {
    @media (max-width: 768px) {
        padding: 0px 0px 0px 24px;
    }
}

/* Sobre mí */
#sobre-mi {
    background-color: var(--black);
    position: relative;
    padding: 200px 0px;
    @media (max-width: 768px) {
        padding: 150px 0px 50px;
    }
}
#sobre-mi .curve {
    top: -1px;
    z-index: 1;
}
#sobre-mi h2 {
    padding-right: 700px;
    @media (max-width: 768px) {
        padding-right: 0px;
    }
}
#sobre-mi .container {
    position: relative;
    z-index: 1;
}
.sobre-mi-img {
    position: absolute;
    right: 0;
    top: 150px;
    max-width: 550px;
    @media (max-width: 768px) {
        position: relative;
        top: -50px;
        left: -60px;
        right: auto;
        max-width: 120%;
        z-index: 0;
    }
}
#servicios {
    background-color: var(--black);
    padding: 100px 0px;
    text-align: center;
    @media (max-width: 768px) {
        padding: 0px;
    }
}   

/* Metodología */
#metodologia {
    padding: 100px 0px;
    text-align: center;
}
#metodologia h2 {
    padding: 0px 400px;
    @media (max-width: 768px) {
        padding: 0px;
    }
}
#metodologia .subtitle {
    line-height: 1;
    padding: 0px 300px;
    @media (max-width: 768px) {
        padding: 0px;
    }
}
.blue-line {
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 100%;
    z-index: -1;
    @media (max-width: 768px) {
        display: none;
    }
}
.step-icon {
    width: 200px;
}
.steps {
    position: relative;
}
@media (max-width: 768px) {
    .steps .row {
        gap: 50px;
        padding-left: 32px;
        padding-right: 32px;
    }
  
}

/* Proyectos */
#proyectos {
    background-color: var(--black);
    padding: 200px 0px;
    position: relative;
}
#proyectos .curve {
    top: -1px;
    z-index: 1;
    width: 100%;
}
#proyectos .curve2 {
    position: absolute;
    bottom: -2px;
    width: 100%;
    z-index: 1;
}

/* Partners */
#partners {
    padding: 100px 0px;
}

/* FAQs */
#faqs {
    background-color: var(--black);
    padding: 200px 0px;
    position: relative;
    z-index: 2;
}
h2 {
    margin: 0px;
}
#faqs .curve {
    top: -1px;
    z-index: 1;
    width: 100%;
}
#faqs .curve2 {
    position: absolute;
    bottom: -2px;
    width: 100%;
    z-index: -2;
}

/* CTA */
#cta {
    padding: 200px 0px 100px;
    position: relative;
    overflow: hidden;
    @media (max-width: 768px) {
        padding: 100px 0px 0px;
    }
}
@media (max-width: 768px) {
    .cta-text {
        padding: 0px 32px;
    }
}
#cta h2 {
    padding-bottom: 32px;
}
@media (max-width: 768px) {
    #cta .button-cont {
        button {
            margin-bottom: 12px;
        }
    } 
    #cta .container {
        padding: 0px;
    }
}
#cta .cta-img {
    position: absolute;
    right: -60px;
    bottom: -200px;
    width: 100%;
    z-index: 2;
    @media (max-width: 768px) {
        position: relative;
        width: 100%;
        right: auto;
        bottom: auto;
    }
}